{{/* Triage · the signals worth a reviewer's time, read from the journal. */}}

{{define "page-triage"}}{{template "doc-start" .Doc}}
{{template "app-header" .Header}}
{{template "page-head" .Head}}
{{with .Unread}}<div class="pad">{{template "alert" .}}</div>{{end}}
{{template "tabs" .Tabs}}
{{template "list" .List}}
{{template "doc-end"}}{{end}}
